.checkbox {
    --ts-1: 300ms;
    --ts-2: 600ms;
    --size: 20px;
    --tick: #fff;
    --border: var(--color-gray6);
    --active: var(--color-orange);
    position: relative;
    pointer-events: none;
    width: var(--size);
    height: var(--size);
    border-radius: var(--radius-4);
    transition:
        box-shadow var(--ts-1),
        background var(--ts-1);
    box-shadow: inset 0 0 0 2px var(--border);
}

.checkbox svg,
.checkbox [data-part="indicator"] svg {
    fill: none;
    stroke: var(--active);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke-dasharray: 86.12;
    stroke-dashoffset: 86.12;
    transition:
        stroke-dasharray var(--ts-2),
        stroke-dashoffset var(--ts-2);
}

.checkbox[data-checked="true"] {
    background: var(--active);
    box-shadow: inset 0 0 0 2px var(--active);
    transition-delay: 0.4s;
}

.checkbox[data-checked="true"] svg {
    stroke-dasharray: 16 86.12;
    stroke-dashoffset: 102.22;
    animation-name: fill;
    animation-delay: var(--ts-1);
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: var(--ts-2);
}

@keyframes fill {
    0% {
        stroke: var(--active);
    }
    100% {
        stroke: var(--tick);
    }
}
